@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Manrope', sans-serif;
}



* {
  padding: 0;
  margin: 0;
}

.top-bar {
  width: 100%;
  background-color: #003d29;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}



.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.right-top-bar {
  display: flex;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}

.nav-bar #logo img {
  width: 70px;
}

.left-nav-bar {
  display: flex;
  align-items: center;
}

.left-nav-bar ul {
  display: flex;
  padding-left: 0;
  padding-right: 20px;
}

.left-nav-bar ul li {
  list-style: none;
  padding-left: 10px;
}

.left-nav-bar ul li a {
  text-decoration: none;
  color: #000;
}

.search form {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 30px;
}


.search input {
  margin: 10px;
  outline: none;
  border-style: none;
}


.search button {
  border-radius: 50%;
  outline: none;
  border-style: none;
  background-color: transparent;
}

.Banner-area {
  background-image: url("../public/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  height: 100%;
}

.content {
  padding-top: 70px;
}

.content .heading p {
  font-size: 80px;
  font-weight: bold;
  color: #013d28;
}

.description p {
  font-size: 20px;
  font-weight: bold;
}

.description .learn-more-btn {
  padding: 20px;
  margin-top: 20px;
  width: 200px;
  border-radius: 40px;
  background-color: #003d28;
  color: #fff;
  border-style: none;
  font-weight: bold;
}

.learn-more-btn a {
  text-decoration: none;
  color: #fff;
  border-style: none;
  font-weight: bold;
}

.category-area {
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
}

.card {
  background-color: #39ad70;
  color: #fff;
}


/*comment*/
.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.product-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.product-details {
  flex: 1;
  padding: 0 20px;
}

.product-title {
  font-size: 20px;
  margin: 0;
}

.product-description {
  color: #666;
  font-size: 14px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  display: block;
  margin-top: 10px;
}

.product-rating {
  margin-top: 5px;
}

.stars {
  color: #f0c30f;
}

.reviews {
  color: #666;
  margin-left: 5px;
}

.favorite {
  font-size: 24px;
  color: #f00;
  cursor: pointer;
}
/*Product details page css- start*/
.wrapper {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  grid-template-columns: 50% 50%;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: white;
  color: #9e9898;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.a {
  grid-column: 1 / 2;
  grid-row: 4;
}

.b {
  grid-column: 2;
  grid-row: 4;
}

.tags {
  font-size: 12px;
}

.prod-tag {
  color: black;
}

.Product-wrapper {
  overflow: hidden;
  border-radius: 10px;
  background-color: #f5f6f6;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 490px;
}

.prod-img {
  margin: 0;
  width: 100%;
  height: 100%;
}

.product-image-slider {
  display: flex;
}

.product-image-slider>div {
  width: 400px;
  height: 100px;
  background-color: #f5f6f6;
  border-radius: 10px;
}

.prod-title {
  color: black;
}

.prod-description {
  font-size: small;
  color: #444;
}

.prod-stars {
  color: #0bac0c;
  font-size: small;
}

.prod-reviews {
  font-size: small;
}

.prod-price {
  color: black;
  font-weight: bold;
  font-size: smaller;
}

.pay-descr {
  font-size: small;
  color: #444;
}

.color-option {
  background: linear-gradient(180deg, #e4534b 50%, #fbeeea 50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
}

.color-option:hover {
  border: 1px solid #003e29;
  cursor: pointer;
}

.item-count {
  background-color: #f5f6f6;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
  color: #003e29;
}

.information p {
  font-size: x-small;
  color: #444;
}

.information p span {
  color: #ff8021;
}

.buttons div {
  border-radius: 20px;
  cursor: pointer;
  background-color: #003e29;
  color: white;
  font-size: large;
  padding: 10px;
  width: 200px;
  text-align: center;
  font-weight: bolder;
}

.buttons div:hover {
  background-color: white;
  color: #003e29;
  border: 1px solid #003e29;
}

.free-delivery {
  border: 1px solid #f5f6f6;
  font-size: small;
  color: black;
  border-radius: 2px;
  padding: 5px;
}

.post-code {
  text-decoration: underline;
}

.category-list {
  display: flex;
  gap: 20px;
  padding: 10px;
  overflow: hidden;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
}

.product-categories {
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-left: 120px;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}


.category {
  background-color: #e9eef2;
  color: #201e1e;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;

}

.category:hover {
  background-color: #29d098
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}