@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Manrope', sans-serif;
}



* {
  padding: 0;
  margin: 0;
}

.top-bar {
  width: 100%;
  background-color: #003d29;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}



.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.right-top-bar {
  display: flex;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}

.nav-bar #logo img {
  width: 70px;
}

.left-nav-bar {
  display: flex;
  align-items: center;
}

.left-nav-bar ul {
  display: flex;
  padding-left: 0;
  padding-right: 20px;
}

.left-nav-bar ul li {
  list-style: none;
  padding-left: 10px;
}

.left-nav-bar ul li a {
  text-decoration: none;
  color: #000;
}

.search form {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 30px;
}


.search input {
  margin: 10px;
  outline: none;
  border-style: none;
}


.search button {
  border-radius: 50%;
  outline: none;
  border-style: none;
  background-color: transparent;
}

.Banner-area {
  background-image: url("../public/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  height: 100%;
}

.content {
  padding-top: 70px;
}

.content .heading p {
  font-size: 80px;
  font-weight: bold;
  color: #013d28;
}

.description p {
  font-size: 20px;
  font-weight: bold;
}

.description .learn-more-btn {
  padding: 20px;
  margin-top: 20px;
  width: 200px;
  border-radius: 40px;
  background-color: #003d28;
  color: #fff;
  border-style: none;
  font-weight: bold;
}

.learn-more-btn a {
  text-decoration: none;
  color: #fff;
  border-style: none;
  font-weight: bold;
}

.category-area {
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
}

.card {
  background-color: #39ad70;
  color: #fff;
}


/*comment*/
.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.product-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.product-details {
  flex: 1;
  padding: 0 20px;
}

.product-title {
  font-size: 20px;
  margin: 0;
}

.product-description {
  color: #666;
  font-size: 14px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  display: block;
  margin-top: 10px;
}

.product-rating {
  margin-top: 5px;
}

.stars {
  color: #f0c30f;
}

.reviews {
  color: #666;
  margin-left: 5px;
}

.favorite {
  font-size: 24px;
  color: #f00;
  cursor: pointer;
}